<h1>Listing favorates</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Artist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favorates.each do |favorate| %>
  <tr>
    <td><%= favorate.email %></td>
    <td><%= favorate.artist %></td>
    <%= form_for :search, url:"/search/details" do |f| %>
    <%= f.hidden_field :name, :value => favorate.artist %>
    <td><%= f.submit :id => "artist", :value => "Show Artist Details", :name =>"2" %></td>  
<% end %>
   <td><%= link_to 'Edit', edit_favorate_path(favorate) %></td>
    <td><%= link_to 'Destroy', favorate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr> 
<% end %>
</table>


<br />

<%= link_to 'New Favorate', new_favorate_path %>


