
<h1><a href="http://fontmeme.com/fancy-fonts/"><img src="http://fontmeme.com/embed.php?text=Welcome!&name=
JandaHappyDay.ttf&size=50&style_color=15155E" alt="Fancy Fonts"></a>  </h1> 

  <%= form_for :search, url: "/search/details" do |f| %>
 
    <%= f.label "search", :class => 'control-label' %>
    
      <%= f.text_field :name, :class => 'text_field' %>
    
  
  
    <%= f.submit 'Search!', :class => 'btn btn-primary' %>
      
<% end %>


 <%= link_to 'View Favourites!', "/favorates#show", :class => 'btn btn-primary' %>
 

